spring:
  data:
    mongodb:
      url: mongodb+srv://S11P21D207:7rPaud@ssafy.ngivl.mongodb.net/S11P21D207?authSource=admin&retryWrites=true&w=majority

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger
    groups-order: DESC
    tags-sorter: alpha
    operations-sorter: alpha

path:
  java-library-project-path: C:\\Users\\SSAFY\\Desktop\\generated\\
  api-server-project-path: C:\\Users\\SSAFY\\Desktop\\generated\\
