<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container mt-2">
    <div class="row">
        <div class="alert alert-danger" role="alert" th:text="|중복된 데이터가 존재합니다. (기등록일: ${regDate})|">
            중복된 데이터가 존재합니다.
        </div>
    </div>
    <div class="row">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light" onclick="history.back()">뒤로</button>
            <button type="button" class="btn btn-info">업데이트</button>
        </div>
    </div>
</div>
</body>
</html>